

// $fontFamily: "";
$fontSize: 16;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1230;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #3a3a3a;
$greenColor: #78BB35;
$greenHoverColor: #62a321;
$orangeColor: #FF914D;
$orangeHoverColor: #ff7d2c;
$grayColor: #8F8F8F;

*,
*::after,
*::before {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	box-sizing: border-box;
}
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
a {
	color: $mainColor;
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}


.wrapper {
	width: 100%;
	display: flex;
	min-height: 100%;
	overflow: hidden;
	flex-direction: column
}
._container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: $maxWidthContainer + px;
	
	// @media (max-width: $md1+px) {
	// 	max-width: 970px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: none;
	// 	padding: 0 10px;
	// }
}
.btn {
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	border-radius: 30px;
	transition: all 0.3s ease 0s;
	background-color: $orangeColor;
	box-shadow: 7px 7px 6px -1px transparent;
	&:hover {
		background-color: $orangeHoverColor;
		box-shadow: 4px 6px 6px -1px rgba(0, 0, 0, .2);
	}
	@media (max-width: $md2+px) {
		font-size: 12px;
		font-weight: 600;
		padding: 6px 12px;
	}
	@media (max-width: $md4+px) {
		font-size: 10px;		
	}
}
._ibg {			
	img {		
		top: 0;
		right: 0;		
		width: 100%;		
		max-height: 775px;
		// object-fit: cover;
		position: absolute;
	}
}
.main-title {
	&__title {
		font-size: 38px;
		font-weight: 600;
		letter-spacing: 5px;
		line-height: 60 / 32 * 100%;
		@media (max-width: $md2+px) {
			font-size: 30px;
			letter-spacing: 3px;
			line-height: 45 / 32 * 100%;
		}
		@media (max-width: $md3+px) {
			font-size: 24px;
			letter-spacing: 2px;
			line-height: 55 / 32 * 100%;
		}
		@media (max-width: $md4+px) {
			font-size: 20px;
			letter-spacing: 2px;
			line-height: 55 / 32 * 100%;
		}
	}
	&__subtitle {		
		color: $grayColor;
		line-height: 30 / 16 * 100%;
		@media (max-width: $md2+px) {
			font-size: 12px;
		}				
	}
}
.vector {
	max-width: 100%;
	margin: 0 0 55px 0;
	@media (max-width: $md3+px) {
		margin: 0 0 25px 0;
	}
}

//=====================================================================================================
.header {	
	top: 0;
	left: 0;		
	width: 100%;
	z-index: 10;	
	position: absolute;	
	@media (max-width: $md3+px) {
		position: fixed;
	}
	// .header__container
	&__container {
		display: flex;	
		min-height: 120px;		
		align-items: center;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			min-height: 95px;
		}
		@media (max-width: $md3+px) {
			min-height: 75px;
		}
		@media (max-width: $md4+px) {
			min-height: 52px;
		}
	}
	// .header__logo
	&__logo {
		z-index: 5;
		flex: 0 1 280px;		
		img {
			width: 100%;
		}
		@media (max-width: $md2+px) {
			flex: 0 1 200px;
		}		
		@media (max-width: $md4+px) {
			flex: 0 1 165px;
		}
	}	
	// .header__menu
	&__menu {
		margin: 0 0 0 70px;		
	}
}

.menu {
	display: flex;
	align-items: center;
	&__body {		
		transition: all 0.5s ease 0s;
		@media (max-width: $md3+px) {				
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;			
			height: 0%;			
			display: block;
			overflow: auto;				
			padding: 0px 0 0 0px;									
		}
	}
	// .menu_list
	&__list {
		display: flex;
		flex-wrap: wrap;
		@media (max-width: $md3+px) {
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	// .menu_item
	&__item {
		margin: 0 3px;
		&.active {
			& > a {
				color: #fff;
				background-color: $greenColor;				
				&:hover {
					background-color: $greenHoverColor;				
				}
			}			
			@media (max-width: $md3+px) {				
				margin: 0 0;
				background-color: #D1EAB8;
				& > a {
					color: #000;
					background-color: transparent;
				}
			}
		}	
	}
	// .menu_link
	&__link {
		font-weight: 600;
		padding: 5px 18px;
		border-radius: 30px;
		transition: all 0.3s ease 0s;
		border: 1px solid transparent;
		line-height: calc(50 / 20 * 100%);				
		&:hover {
			color: $greenHoverColor;
			border: 1px solid $greenHoverColor;
		}
		@media (max-width: $md2+px) {
			font-size: 14px;
			padding: 3px 10px;
		}
	}	
	// menu burger
	&__body._active {		
		height: 100%;
		padding: 100px 0 0 0px;				
		background-color: #fff;		
	}
	&__body::before {		
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		min-height: 0px;
		position: fixed;
		background-color: #fff;				
	}
	&__body._active::before {		
		box-shadow: -2px 1px 6px rgba(0,0,0,0.1);		
	}
	@media (max-width: $md3+px) {		
		&__body::before {		
			min-height: 70px;
		}	
		&__body._active {	
			padding: 70px 0 0 0px;				
		}	
	}
	@media (max-width: $md4+px) {
		&__body::before {		
			min-height: 52px;
		}	
		&__body._active {	
			padding: 52px 0 0 0px;				
		}	
	}
	&__icon {
		z-index: 5;
		width: 30px;
		height: 20px;
		display: none;		
		cursor: pointer;
		position: relative;		
		@media (max-width: $md3+px) {	
			display: block;			
		}
		@media (max-width: $md4+px) {	
			width: 21px;
			height: 19px;		
		}
		span,	
		&::after, 
		&::before {
			left: 0;
			width: 100%;
			height: 14%;
			position: absolute;
			border-radius: 10px;
			background-color: #000;
			transition: all 0.4s ease 0s;
		}
		span {
			top: 50%;
			transition: all 0.2s ease 0s;
			background-color: $orangeHoverColor;
			transform: scale(1) translate(0px, -50%);
		}
		&::after, 
		&::before {
			content: "";
		}
		&::after {
			bottom: 0;
			background-color: #faad7d;
		}
		&::before {
			top: 0;
			background-color: #ff6200;
		}
		&._active span{
			transform: scale(0) translate(0px, -50%);
		}
		&._active {
			&::before {
				top: 37%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after {
				bottom: 52%;
				transform: rotate(45deg) translate(0px, -50%);
			}
		}
	}	
}
.connection {
	// .menu_btn
	&__btn{			
		color: #fff;		
		transition: all 0.3s ease 0s;
		background-color: $orangeColor;					
		&:hover {
			color: #fff;
			border: 1px solid $orangeColor;
			background-color: $orangeHoverColor;	
		}
		@media (max-width: 1168px) {
			display: none;
		}
	}
	// menu__btn-sm
	&__btn-sm {
		bottom: 0;
		left: 20px;		
		display: none;
		position: fixed;		
		border-radius: 10px 10px 0 0;
		background-color: $orangeColor;
		@media (max-width: 1168px) {
			display: block;
			padding: 3px 8px;
		}
	}	
}

//connection form
.form._active {
	height: 100%;
	.form__block {
		visibility: inherit;
	}
}
.form._mdActive {	
	top: inherit;
	left: 20px;
	bottom: 0;
	height: 80%;
	width: 35%;	
	border-radius: 0 30px 0 0;
	@media (max-width: $md2+px) {
		width: 40%;
	}
	@media (max-width: $md3+px) {
		width: 60%;		
	}
	@media (max-width: $md4+px) {
		left: 0;
		width: 100%;
		border-radius: 0;
	}
	.form__block {
		min-width: 100%;
		min-height: 100%;
		border-radius: 0 30px 0 0;
		visibility: inherit;
		@media (max-width: $md4+px) {
			border-radius: 0;
		}
	}
	.connection__btn-sm {
		top: -30px;
		left: 0;
		position: absolute;
	}
}
.form {	
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	z-index: 10;	
	box-shadow: 2px -2px 0px rgba(0,0,0,0.1);
	background-color: rgba(209, 234, 184, 0.5);
	&__container {
		width: 100%;
		height: 100%;
		display: flex;
	}	
	&__block {
		visibility: hidden;
		margin: auto;
		padding: 18px 25px;
		max-height: 95%;
		overflow: auto;
		min-width: 380px;
		border-radius: 30px;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #fff;		
	}
	&__btn-top {
		width: 100%;
		color: #fff;
		padding: 13px 0;
		text-align: center;
		font-size: 18px;
		font-weight: 700;
		border-radius: 30px;		
		background-color: #78BB35;
		img {
			margin-right: 10px;
			max-width: 18px;
		}
		@media (max-width: $md1+px) {
			padding: 10px 0;
		}
	}
	&__subtitle {
		color: $grayColor;
		font-weight: 500;
		margin: 15px 0;
		@media (max-width: $md1+px) {
			margin: 10px 0;
		}
	}
	&__title {
		color: $grayColor;
		font-size: 28px;
		font-weight: 800;
		letter-spacing: 2px;
		@media (max-width: $md1+px) {
			font-size: 22px;
		}
	}
	&__description textarea{
		@media (max-width: $md1+px) {
			height: 60px;
		}
	}
	&__footer {
		display: flex;
		justify-content: space-between;
	}
	&__submit, &__cancel {
		color: #fff;
		padding: 10px 22px;
		font-size: 14px;
		font-weight: 600;
		border-radius: 7px;
		line-height: 20px;
		text-transform: uppercase;		
		img {
			max-width: 18px;
			margin-left: 10px;
			@media (max-width: $md1+px) {
				margin-left: 5px;				
			}
		}
		@media (max-width: $md1+px) {
			padding: 8px 12px;
		}
	}
	&__submit {
		background-color: $orangeColor;
	}
	&__cancel {					
		background-color: #C0C0C0;
	}
	&__input-group > *:not(:last-child) {
		position: relative;		
		margin: 15px 0;
	}
	input, select, textarea {
		width: 100%;
		min-height: 50px;
		padding: 4px 0 0 10px; 
		border-radius: 7px;
		border: 2px solid #78BB35;
		@media (max-height: $md2+px) {
			min-height: 35px;
		}
	}
	textarea {
		padding-top: 15px;
	}
	label {
		position: absolute;
		top: -9px;
		left: 12px;
		padding: 3px;
		color: $greenColor;
		font-weight: 500;
		font-size: 16px;			
		background-color: #fff;
	}
}

// ==================================================================================================
// start block page
.page {
	padding: 150px 0 150px 0;
	position: relative;
	@media (max-width: 700px) {
		padding: 118px 0 0 0;
	}
	@media (max-width: $md4+px) {
		padding: 70px 0 0 0;
	}
}
//=====================================================================================================
.main-block {	
	font-size: 16px;
	margin: 0 -15px;
	@media (max-width: $md2+px) {
		font-size: 12px;
	}	
	// .main-block__body
	&__body {
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			flex-wrap: wrap;
		}
		@media (max-width: 700px) {
			flex-direction: column-reverse;
		}
	}
	// .main-block__content
	&__content {
		flex: 0 1 400px;
		padding: 0 15px;
		@media (max-width: $md4+px) {
			flex: 0 1 auto;
		}
	}	
	// .main-block__img
	&__img {
		padding: 0 10px;
		max-width: 850px;
		position: relative;
	}
	// .main-block__bg
	&__bg {
		top: 0;
		left: 0;
		width: 100%;
		z-index: -1;
		height: 100%;
		position: absolute;
		img {
			width: 53%;	
		}
		@media (max-width: $md3+px) {
			& img {
				visibility: hidden;
			}
		}
	}
}
.content {
	&__text-top {
		font-size: 1.4em;
		color: $greenColor;
		strong {
			font-size: 1.8em;
			font-weight: 800;
		}
	}
	&__title {
		font-size: 2.2em;
		font-weight: 800;
		line-height: 1.2!important;		
	}
	&__description {
		color: $grayColor;
	}
	&__btn {
		line-height: 4.5;
	}
	& > div {
		line-height: 1.5;
	}
}
// .img block
.img {	
	flex: 0 1 55%;		
	margin:  0 0 0 115px; 
	&__pc-mobile {
		width: 100%;
		@media (max-width: 700px) {
			width: 70%;
			display: block;
			margin: 0 auto;
		}
		@media (max-width: $md4+px) {
			width: 85%;			
		}
	}
	@media (max-width: $md2+px) {
		flex: 1 1 40%;		
		margin: 0 0 0 60px;
	}
	@media (max-width: $md3+px) {
		flex: 1 1 30%;		
		margin: 0 0 0 20px;
	}		
}
//=============================================================================================================
// .services
.services {
	margin: 50px 0 0 0;	
	&__body {
		display: flex;
		flex-wrap: wrap;		
		margin: 0px -15px 0 -15px;
		@media (max-width: $md2+px) {
			justify-content: space-around;
		}
	}	
	&__column {		
		flex: 0 1 25%;								
		padding: 15px;
		@media (max-width: $md2+px) {
			flex: 0 1 50%;
			// min-width: 247px;
		}
		@media (max-width: $md3+px) {
			flex: 0 1 100%;		
		}
	}	
	&__item {
		height: 100%;
		display: flex;
		flex-direction: column;		
		justify-content: flex-end;
		transition: all 0.3s ease 0s;		
		box-shadow: -2px 5px 6px transparent;
		&:hover {
			box-shadow: -2px 1px 6px rgba(0,0,0,0.1);
		}
		@media (max-width: $md2+px) {
			flex-direction: inherit;
			justify-content: space-around;
		}	
		@media (max-width: $md4+px) {
			flex-direction: column;
		}	
	}
	&__btn {
		margin: 20px 0 75px 0;
		text-align: center;
		@media (max-width: $md2+px) {
			margin: 4px 0 48px 0;
		}
	}	
}
//===========================================================================
// .item-service
.item-service {
	padding: 10px 30px;
	@media (max-width: $md2+px) {
		padding: 15px;
	}
	@media (max-width: $md4+px) {
		padding: 0px;
	}
	&__img {
		width: 100%;
		display: block;
		margin: 12px auto;
		@media (max-width: $md2+px) {
			width: 60%;
		}		
		@media (max-width: $md3+px) {
			width: 45%;
			margin: 0 auto;
		}
		@media (max-width: $md4+px) {
			width: 30%;		
		}		
	}
	&__content {
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		@media (max-width: $md4+px) {
			align-items: center;
		}
	}
	&__title {
		font-size: 18px;
		font-weight: 600;
		line-height: calc(36 / 18 * 100%);
		@media (max-width: 1085px) {
			font-size: 16px;
		}
		@media (max-width: $md2+px) {
			line-height: calc(26 / 18 * 100%);
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
	}
	&__subtitle {
		font-size: 12px;
		font-weight: 400;
		color: $grayColor;
		line-height: calc(20 / 12 * 100%);
	}
	&__chek {
		font-size: 14px;
		font-weight: 500;
		line-height: calc(26 / 14 * 100%);
		@media (max-width: 1085px) {
			font-size: 12px;
		}
	}
	&__more {
		font-size: 16px;
		font-weight: 500;
		color: $greenColor;
		line-height: calc(30 / 16 * 100%);
	}
}
//===========================================================================================
// projects block 
.projects {
	&__title {
		text-align: center;
	}
}	
// block slock slider
.slider {
	height: 338px;
	margin: 25px 0 0 0;
	position: relative;
	@media (max-width: $md2+px) {
		height: 250px;
		margin: 10px 0 0 0;
	}
	@media (max-width: $md3+px) {
		height: 200px;		
	}
	@media (max-width: $md4+px) {
		height: 120px;		
	}
}
.slick-list {
	height: 100%;
	overflow: hidden;
	margin: 0 -190px;
}
.slick-track {
	height: 100%;
	display: flex;
	align-items: center;
}
.slider__item {
	margin: 0 30px;
}
.slider__item img {
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
	object-fit: contain;
	transition: all 0.6s ease 0s;
}
.slick-center img {
	width: 100%;
}
.slick-dots {
	position: inherit;
}
.slick-dots li {
	@media (max-width: $md4+px) {
		width: 12px;
	}	
}
.slick-dots li button::before {
	opacity: 1;
	font-size: 34px;
	color: $greenColor;	
	@media (max-width: $md4+px) {
		font-size: 28px;
	}
}
.slick-dots li button:hover {
	&::before {
		top: -4px;
	}
}
.slick-dots .slick-active button {
	position: absolute;	
}
.slick-dots .slick-active button::before {
	opacity: 1;
	font-size: 46px;
	color: $orangeColor!important;
	@media (max-width: $md4+px) {
		font-size: 28px;
	}
}
.slick-arrow {
	background-color: lightblue;
}
.slick-next {
	background-color: lightblue;
}

// projects btn
.projects__btn {
	text-align: center;
   padding: 48px 0;
	@media (max-width: $md2+px) {
		// padding: 30px 0;		
	}
}

//=============================================================================================
.about {
	&__vector {
		width: 100%;
		margin: 14px 0 60px 0;
		@media (max-width: $md2+px) {
			margin: 0px 0 30px 0;			
		}
	}
	&__body {
		display: flex;
		justify-content: space-between;		 
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
	&__img {
		flex: 0 0 64%;		
		@media (max-width: $md3+px) {
			flex: 0 0 50%;		
			align-self: center;
		}
		img {
			width: 100%;
			@media (max-width: $md4+px) {
				width: 70%;	
				display: block;
				margin: 0 auto;
			}
		}
	}
	&__content {
		padding: 0 0 0 65px;
		@media (max-width: $md2+px) {
			padding: 0 0 0 35px;
		}
	}
}
.content-about {
	display: flex;
	flex-direction: column;
	justify-content: center;	
	&__subtitle, &__description {
		font-size: 14px;
		color: $grayColor;
		@media (max-width: $md2+px) {
			font-size: 12px;
			line-height: 55 / 18 * 100%;
		}
		@media (max-width: $md3+px) {
			font-size: 10px;
		}
	}	
	&__check {
		display: flex;
		font-weight: 500;
		align-items: center;
		@media (max-width: $md2+px) {
			font-size: 12px;
		}
		@media (max-width: $md3+px) {
			font-size: 10px;
		}
		img {
			max-width: 17px;
			margin-right: 6px;
			@media (max-width: $md2+px) {
				max-width: 14;
			}
			@media (max-width: $md3+px) {
				max-width: 12px;
			}
		}
	}
	&__btn {
		margin: 18px 0!important;
		@media (max-width: $md2+px) {
			margin: 6px 0!important;
		}
		@media (max-width: $md4+px) {
			margin: 10px 0!important;
		}
	}
}
.content-about > * {
	margin: 4px 0;
	line-height: 35 / 18 * 100%;
	@media (max-width: $md3+px) {
		margin: 2px 0;
		line-height: 30 / 18 * 100%;
	}
	@media (max-width: $md4+px) {
		margin: 2px 0;
		line-height: 20 / 18 * 100%;
	}
}

//===============================================================================================================
.contact {
	margin-bottom: 200px;
	&__title {
		margin: 45px 0;
		text-align: center;
		@media (max-width: $md3+px) {
			margin: 25px 0;
		}
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	&__column {
		display: flex;
	}
}
.col-contact {
	padding: 10px;
	margin: 10px 0;
	align-items: center;
	@media (max-width: $md3+px) {
		margin: 0;
	}
	&__icon {
		margin: 0 15px 0 0;
		@media (max-width: $md2+px) {
			& {
				margin: 0 5px 0 0;
			}
			img {
				width: 75%;
				margin: 0 auto;
				display: block;
			}
		}
		@media (max-width: $md4+px) {
			img {
				width: 40%;
			}
		}
	}
	&__content {}
	&__title {
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 2;
		color: $greenColor;
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}
	&__subtitle {
		color: $grayColor;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
}

//===============================================================================================
.footer {	
	position: relative;
	// padding: 80px 0 0 0;
	background-color: #F6F7F8;
	&__body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;		
	}
	&__column {
		flex: 0 1 20%;
		margin: 20px 0 0 0;
		@media (max-width: $md3+px) {
			flex: 0 1 40%;
		}
		@media (max-width: $md4+px) {
			flex: 0 1 100%;
			margin: 10px 0 0 0;
		}
	}
	&__bg {
		img {
			top: -84px;
			z-index: -1;
			@media (max-width: $md3+px) {
				top: -25px;
			}
		}
	}
	&__bottom {
		display: flex;
		min-height: 50px;
		margin: 60px 0 0 0;
		align-items: center;
		justify-content: center;
		background-color: #C0C0C0;		
		&__content {			
			color: #fff;
			font-size: 16px;
			font-weight: 500;
		}
		@media (max-width: $md4+px) {
			min-height: 38px;
			margin: 15px 0 0 0;
			&__content {			
				font-size: 12px;
			}
		}
	}
}
.column-social {	
	&__title {
		letter-spacing: 7px;
	}
	&__subtitle {
		font-weight: 500;	
		line-height: 25 / 18 * 100%;
		@media (max-width: $md2+px) {
			font-size: 14px;
		}
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}
	&__link {
		margin: 15px 0 0 0;
	}
	&__item {
		margin: 0px 13px 0 0;
		img {
			max-width: 25px;
			@media (max-width: $md4+px) {
				max-width: 20px;
			}
		}
	}
}
.footer-menu {
	&__link {		
		font-size: 14px;
		font-weight: 600;
		line-height: 35 / 16 * 100%;		
		a {
			color: $mainColor;
			transition: all 0.1s ease 0s;
		}
		a:hover {
			color: $orangeColor;			
		}
		&.active {
			a {
				color: $orangeColor;
			}	
		}
	}
}
.column-navigation {
	@media (max-width: $md3+px) {
		display: none;
	}
}
.column-services {
	&__item {
		font-size: 14px;
		font-weight: 600;
		line-height: 35 / 16 * 100%;				
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}
	&__body {
		// height: 100px;		
		// overflow: inherit;
		// transition: all 0.6s ease;		
		@media (max-width: $md4+px) {
			height: 0;			
			overflow: hidden;
			transition: all 0.6s ease;			
		}
	}	
	&._show {		
		@media (max-width: $md4+px) {
			.column-services__body {
				height: 100px;				
				overflow: inherit;				
			}			
		}
	}
}
.column-contact {
	&__body {
		@media (max-width: $md4+px) {
			height: 0;			
			overflow: hidden;
			transition: all 0.6s ease;			
		}		
	}
	&._show {		
		@media (max-width: $md4+px) {
			.column-contact__body {
				height: 100px;				
				overflow: inherit;				
			}			
		}
	}	
	&__item {
		display: flex;
		margin: 10px 0;		
		font-size: 14px;
		font-weight: 500;
		color: $grayColor;
		img {
			max-width: 20px;
			margin: 0 15px 0 0;
			object-fit: contain;
			@media (max-width: $md4+px) {
				max-width: 16px;
			}	
		}		
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}
}

//footer title-top
.footer-title {
	font-size: 20px;
	font-weight: 600;
	color: $grayColor;
	line-height: 55 / 20 *100%;
	// margin: 0 0 25px 0;
	@media (max-width: $md4+px) {
		font-size: 16px;
		line-height: 25 / 12 * 100%;		
	}
}



//==============================================================================================
// .service-item > *:not(:last-child) {
// 	margin: 0 15px 0 15px
// }

// &:not(:last-child) {
	
	// }
	// opacity: 0;
	// visibility: hidden;
	// pointer-events: none;
	// overflow: auto;

	// @include adaptiv-value("padding", 80, 30, 1);
	// .title {
	// 	margin: 0px 0px 16px/24px * 1em 0; 
	// }